
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới thông tin đấu giá</h2>

<div class="w3agile-validation w3ls-validation">
    <div class="panel panel-widget agile-validation">
        <div class="validation-grids widget-shadow" data-example-id="basic-forms">
            <div class="input-info">
                <h3>Thông tin nền :</h3>
            </div>
            <div class="form-body form-body-info">
                <form data-toggle="validator" novalidate="true" action="#" method="post">
                    <div class="form-group ">
                        <input type="text" class="form-control" id="Ten" placeholder="Tên" name="Ten" required="">
                    </div>
                    <div class="form-group">
                        <select name="Loai" id="selector1" class="form-control1">
                            <option value="-1">------------------------------</option>
                            <option value="0">Bến xe</option>
                            <option value="1">Bãi</option>
                            <option value="2">Chợ</option>
                        </select>


                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="DiaChi" name="DiaChi" placeholder="Địa chỉ" required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MoTa" name="MoTa" placeholder="Mô tả" required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="GiaTri" name="GiaTri" placeholder="Giá trị" required="">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="TenDonViCQ" name="TenDonViCQ" placeholder="Tên đơn vị chủ quản" required="">
                    </div>
                    <br />
                    <div class="bottom">

                        <div class="form-group">
                            <button type="submit" onclick="return checkday()" class="btn btn-primary ">Thêm</button>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </form>
            </div>
        </div>
    </div>



</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    var status = false;
    $('#TinhTrang').change(function () {
        // Get the value of the radio button with the specified ID
        var selectedValue = $('input[name="TinhTrang"]:checked').val();
        console.log(selectedValue)
        if (selectedValue == "true") {
            status = true;
            $("#ProfileUser").css("display", "block");

        } else {
            $("#ProfileUser").css("display", "none");
        }
    });

    function checkday(status) {
        if (status == true) {
            var CCCD = $("#CCCD").val();
            var Phone = $("#Phone").val();
            console.log(CCCD.length)
            if (CCCD.length != 12) {
                var text = "CCCD phải có 12 ký tự";
                window.location.href = "https://localhost:44329/Home/Error?MaError=" + text
                return false;
            }
            if (Phone.length != 10) {
                var text = "Phone phải có 10 ký tự";
                window.location.href = "https://localhost:44329/Home/Error?MaError=" + text
                return false;
            }
        }


        return true;
    }
</script>



